.principal {
    width: 100vw;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active {
    background-color: #FFBA08;
}

.swiper-button-prev {
    color: #FFBA08;
}

.swiper-button-next {
    color: #FFBA08;
}

.slider {
    width: 1000px;
    height: 400px;
    margin-top: 52px;
    position: relative;
}

.slider img {
    max-width: 100%;
}

.slider h1 {
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: center;
    color: #fff;
    font-size: 40px;
}

.container ul{
    display: none;
}

@media (max-width: 1100px){
    .slider {
        width: 700px;
        height: 400px;
    }
}

@media (max-width: 800px){
    .slider {
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 600px){ 
    .slider{
        display: none;
    }
    .principal{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }

    .container ul{
        display: contents;
    }

    li {
        list-style: none;
        margin: 10px;
    }

    li h2 {
        color: #47585B;
    }

    *{
        text-decoration: none;
    }
}