.container {
    width: 165px;
    height: 99px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
}

.labelId {
    font-size: 36px;
    font-weight: 600;
    color: #FFBA08;
}

.labelId2 {
    font-size: 24px;
    font-weight: 600;
    color: #47585B;
    text-align: center;
} 